@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: black;
    }

    main {
        background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/563192ea-ac0e-4906-a865-ba9899ffafad/6b2842d1-2339-4f08-84f6-148e9fcbe01b/IN-en-20231218-popsignuptwoweeks-perspective_alpha_website_large.jpg);
        height: 90vh;
        background-position: center center;
        position: relative;
        background-repeat: no-repeat;
        background-size: max(1200px, 100vw);
        opacity: 0.93;
        /* filter: brightness(80%); */

    }

    main .box {
        height:100vh;
        width: 100%;
        opacity: 0.69;
        margin: auto;
        position: absolute;
        top: 0;
        /* z-index: 10; */
         background-color: black;
        /* background-color:black; */

    }

    nav {
        max-width: 75vw;
        height: 100px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    nav img {
        /* color: red; */
        width: 152px;
        color: red;

        position: relative;
        filter: brightness(50);
        z-index: 14;
        opacity: 1;
    }

    nav button {
        position: relative;
        z-index: 10;
    }

    .hero {
        font-family: 'Martel Sans', sans-serif;
        height: calc(100% -100px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #ffffff;
        position: relative;
        font-weight: bolder;
        gap: 23px;
        padding: 30px;
        text-align: center;
        opacity: 1;
        z-index: 12;
        text-emphasis-color: white;


    }

    .hero> :first-child {

        font-size: 48px;
        font-weight: 1000;
        text-align: center;
        opacity: 1;
        /* filter: brightness(600); */

        color: #ffffff;
    }

    .hero>:nth-child(2) {
        font-weight: 500;
        font-size: 24px;
        text-align: center;
    }

    .hero> :nth-child(3) {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }

    .seperation {
        height: 10px;
        background-color: rgba(62, 62, 62, 0.306);
    }

    .btn {
        padding: 3px 8px;
        font-weight: 400;
        background-color: rgba(255, 255, 255, 0.121);
        color: white;
        border: 1px solid white;
        border-radius: 4px;
        cursor: pointer;

    }

    .btn-red {
        background-color: red;
        color: white;
        padding: 5px 24px;
        font-size: 20px;
        border-radius: 4px;
        font-weight: 400;


    }

    .hero-btn {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
       
        


    }

    main input {
        color: white;
        padding: 7px 195px 8px 14px;
        font-weight: 900;
        font-size: 12px;
        border-radius: 4px;
        background-color: rgba(1, 1, 1, 0.2);
        border: 1px solid rgba(246, 238, 238, 0.5);
        z-index: 11;


    }

    ::placeholder {
        color: white;
    }

    .btn-redsm {
        background-color: red;
        color: white;
    }

    .nvbt {
        height: 30px;
        width: 85px;
        font-size: 16px;

    }

    .first {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 70vw;
        margin: auto;
        color: white;
    }

    .firstimg {
        position: relative;
    }

    .firstimg img {
        width: 30vw;
        /* position:absolute; */
    }

    .firstimg video {



        height: 183px;
        position: absolute;
        top: 71px;
        left: 61px;
        z-index: 10;
    }

    .first>div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .first>div :first-child {
        font-size: 48px;
        font-weight: bolder;

    }

    .first>div :nth-child(2) {
        font-size: 24px;

    }

    .faq {
        color: white;
        padding: 34px;

    }

    .faq h2 {
        text-align: center;
        font-size: 48px;
        font-weight: bold;

    }

    .faqbox {
        display: flex;
        background-color: rgb(47, 47, 47);
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        max-width: 74vw;
        margin: 11px auto;
        cursor: pointer;
        font-size: 24px;
        /* color: white; */
        /* transition: all 1s ease-out; */

    }

    .faq :hover {
        background-color: rgb(74, 73, 73);
    }

    .faq svg {
        filter: invert(1);
    }

    .uk {
        text-align: center;
        font-size: 22px;
    }

    .hero-btnn {
        display: flex;
        justify-content: center;
        gap: 10px;

        /* background-color: rgb(255, 255, 255); */
        ::placeholder {
            color: rgb(1, 1, 1);
            max-width: 70vw;
            width: 50vw;
        }
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        color: white;
        max-width: 77vw;
        margin: auto;
    }

    .footeritem {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    footer {
        color: white;
    }

    .footer a {
        /* text-decoration: none; */
        color: white;
    }

    .sep {
        background-color: black;
        height: 10vh;
    }